<div class="container">
    {{#if locals}}
        {{#each locals}}
        <div class="row">
            <h1>{{country}}</h1>
            <ul>
            {{#each states}}
                <li><h3>{{name}}</h3></li>
                <ul>
                    {{#each cities}}
                        <li><a href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            {{/each}}
            </ul>
        </div>
        {{/each}}
        {{/if}}

        {{#if categories}}
        <div class="col-sm-12">
            {{#each categories}}
            <div class="col-sm-12">
                {{#if name}}
                    <h2>{{name}} ( {{link}} )</h2>
                    <div class="row">
                        {{#each sub}}
                            <div class="col-sm-3">
                                <p>{{name}} ( {{link}} )</p>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
            
        {{/if}}
</div>